{
	"ecmaFeatures": {
		"blockBindings": false,
		"forOf": false
	},

	"globals": {
		"window": true,

		// jasmine globals
		"describe": false,
		"it": false,
        "expect": false
	},

	"env": {
		"browser": true,
		"jasmine": true
	},

	"rules": {
		"indent": [
			2,
			"tab"
		],
		"camelcase": 2,
		"curly": [
			2,
			"all"
		],
		"eqeqeq": [
			2,
			"always"
		],
		"guard-for-in": 2,
		"no-extend-native": 2,
		"wrap-iife": [
			2,
			"inside"
		],
		"no-octal": 2,
		"no-use-before-define": 2,
		"max-depth": [
			0,
			3
		],
		"semi-spacing": [
			2,
			{
				"before": false,
				"after": true
			}
		],
		"no-trailing-spaces": [
			2,
			{
				"skipBlankLines": true
			}
		],
		"comma-dangle": [
			2,
			"never"
		],
		"no-sparse-arrays": 2,
		"valid-typeof": 2,
		"quotes": [
			2,
			"single"
		],
		"no-shadow": 1,
		"no-undef": 2,
		"no-undef-init": 2,
		"semi": [
			2,
			"always"
		],
		"no-multi-spaces": 2,
		"no-debugger": 2,
		"no-inner-declarations": 2,
		"no-console": 2,
		"space-unary-ops": [
            2,
            {
                "words": true,
                "nonwords": false
            }
        ],
		"key-spacing": 2,
		"comma-style": [
            2,
            "last"
        ],
		"comma-spacing": 2,
		"eol-last": 2,
		"no-alert": 2,
		"new-cap": [
			"error",
			{
				"newIsCap": true,
				"capIsNew": true,
				"properties": true
			}
		],
		"no-irregular-whitespace": 2,
		"no-mixed-spaces-and-tabs": 2,
		"no-unused-vars": 2,
		"no-array-constructor": 2,
		"no-useless-escape": 2,
		"no-useless-concat": 2,
		"consistent-return": 2,
		"no-case-declarations": 2,
		"no-unneeded-ternary": 2,
		"no-whitespace-before-property": 2,
		"newline-per-chained-call": 2,
		"one-var-declaration-per-line": 2,
		"space-in-parens": 2,
		"block-spacing": 2,
		"keyword-spacing": [
			2,
			{
				"before": true,
				"after": true
			}
		],
		"object-curly-spacing": [
			2,
			"always"
		],
		"array-bracket-spacing": [
			2,
			"never"
		],
		"padded-blocks": [
            2,
            "never"
        ],
		"space-before-function-paren": [
            2,
            "never"
        ],
		"spaced-comment": [
            2,
            "always",
            {
                "exceptions": ["-", "+"],
                "markers": ["=", "!"]
		    }
        ],
		"space-infix-ops": 2,
		"space-before-blocks": 2,
		"no-multiple-empty-lines": [
			2,
			{
				"max": 1,
				"maxBOF": 0,
				"maxEOF": 1
			}
		],
		"no-nested-ternary": 2,
		"func-names": [
            2,
            "never"
        ],
		"no-mixed-operators": [
            2,
            {
                "allowSamePrecedence": true
            }
        ],
		"func-call-spacing": 2,
		"no-extra-semi": 2,
		"no-unreachable": 2,
		"default-case": 2,
		"no-throw-literal": 2,
		"brace-style": 2,
		"no-lonely-if": 2,
		"array-callback-return": 2,
		"one-var": [
            2,
            "never"
        ],
		"no-constant-condition": 2,
		"no-duplicate-case": 2,
		"no-empty": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-invalid-regexp": 2,
		"no-obj-calls": 2,
		"no-regex-spaces": 2,
		"no-unexpected-multiline": 2,
		"no-unsafe-negation": 2
	}
}